<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>163616530376-j7jim7gr7k8igh0jdksuthkues69v79d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.163616530376-j7jim7gr7k8igh0jdksuthkues69v79d</string>
	<key>API_KEY</key>
	<string>AIzaSyATROr1cp2LJTDWjgfeYaUhP0E06esj7lc</string>
	<key>GCM_SENDER_ID</key>
	<string>163616530376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.remicare</string>
	<key>PROJECT_ID</key>
	<string>eastern-rain-327713</string>
	<key>STORAGE_BUCKET</key>
	<string>eastern-rain-327713.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:163616530376:ios:d8b8ef966196b08b7c2afd</string>
</dict>
</plist>